# Node
node_modules/
**/node_modules/

# Next.js
frontend/.next/
frontend/.turbo/
frontend/.vercel/

# Env
.env
frontend/.env
backend/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cairo/Scarb
contracts/**/target/

# Misc
.DS_Store
*.log
